{% extends 'layout/base.html' %}

{% block title %}Giỏ hàng{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center text-danger">Giỏ hàng</h1>
    {% if 'cart' in session and session['cart'] %}
    <table class="table">
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th></th>
        </tr>
        {% for c in session['cart'].values() %}
        <tr id="product{{c.id}}">
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ "{:,.0f}".format(c.price) }} VND</td>
            <td>
                <div class="form-group">
                    <input class="form-control" onblur="updateCart({{c.id}}, this)" type="number" min="1" value="{{ c.quantity }}" />
                </div>
            </td>
            <td>
                <button class="btn btn-danger" onclick="deleteCart({{c.id}})">Xóa</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="text-center alert alert-info">
        <h6>Tổng sản phẩm: <span class="cart-counter">{{ stats.total_quantity }}</span></h6>
        <h6>Tổng tiền thanh toán: <span id="total_amount">{{ "{:,.0f}".format(stats.total_amount) }}</span> VND</h6>
        {% if current_user.is_authenticated %}
        <button class="btn btn-success" onclick="pay()">Đặt hàng</button>
        {% else %}
        <a href="{{ url_for('user_login', next='cart') }}" class="alert alert-warning">Đăng nhập để thanh toán</a>
        {% endif %}
    </div>
    {% else %}
    <p><i>Không có sản phẩm nào trong giỏ!!!</i></p>
    {% endif %}
</div>
{% endblock %}