* {
    font-family: Tahoma;
}
body {
    background-color: lightblue;
    color: darkblue;
}
h1.head {
    text-align: center;
}

h1.subject {
    text-align: center;
}

table.product {
    border-collapse: collapse;
    width: 100px;
}

.container {
    width:80%;
    margin: 0 auto;
}
.card-img-top {
    width:100%;
    height:320px;
}
.flex {
    display:flex;
}
.web-footer {
margin-bot:0%;
}

